name: Tests

on:
    push:
        branches:
        - master
    pull_request:
        branches:
        - master

env:
    Dotnet_Version: "10.x"
    Solution: "UnidecodeSharpFork"
    Project: "Tests"

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v3
  
        - name: Setup .Net
          uses: actions/setup-dotnet@v3
          with:
                dotnet-version: ${{ env.Dotnet_Version }}

        - name: Restore
          run: dotnet restore "./${{ env.Solution }}.sln"

        - name: Build
          run: dotnet build "./${{ env.Solution }}.sln" --configuration Release --no-restore

        - name: Run Tests
          run: dotnet test "./${{ env.Project }}/${{ env.Project }}.csproj" --configuration Release --no-build --verbosity normal